<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">


  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Users</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" onclick="seedUser();" class="btn btn-sm btn-outline-info shadow-sm"><i class="fa-solid fa-file-excel"></i> Seed User</button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm"><i class="fa-solid fa-file-excel"></i> Export</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#addStream"  class="btn btn-sm btn-outline-success shadow-sm"><i class="fa-solid fa-circle-plus"></i> Add Stream</button>
      </div>
    </div>

    <div id="messageBox">

    </div>

    <!-- <div class="table-responsive"> -->

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-5">

            <table class="table table-hover" id="example">
              <thead>
                <th>#</th>
                <th>Name</th>
                <th>Profile picture</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Created At</th>
                <!-- <th width="10%">Action</th> -->
              </thead>
              <tbody id="streamData">

                <% users.forEach((user) => { %>
                <tr>
                  <td><%= user.id  %> </td>
                  <td><%= user.name %> </td>
                  <td>
                    <img src="<%= user.profile_pic %>" height="50" width="50"  alt="">
                  </td>
                  <td><%= user.email %> </td>
                  <td><%= user.phone %> </td>
                  <td><%= user.address %> </td>
                  <td><%= user.createdAt %> </td>
                </tr>
                <% }) %> 
  
              </tbody>
            </table>

          </div>
        </div>

      </div>

    <!-- </div> -->
  </main>

  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#example').DataTable({
        // data: dataSet,
        // columns: [
        //   { title: 'id' },
        //   { title: 'name' },
        //   { title: 'Profile_pic' },
        //   { title: 'email.' },
        //   { title: 'phone' },
        //   { title: 'address' },
        //   { title: 'createdAt' }
        // ]
      });
    });
  </script>
  <script>
    function seedUser(){
      $.ajax({
        method:'get',
        url:'/user-testing-data',
        processData:false,
        cache:false,
        success:function(res){
          if(res.success){
            $('#messageBox').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>`);
          }
        }
      });
    }
  </script>
